.App {
  text-align: center;
}

body {
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.6)), url('./images/checker.png');
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
}

/*//////////////////  NAVIGATION  //////////////////*/

.App-logo {
  height: 50px;
}

.App-logo::selection {
  background-color:rgba(0, 0, 0, 0);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6dacbb;
  padding-left: 15px;
  height: 90px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

.search-bar{
  display: flex;
  gap: 5px;
  flex: 0 0 auto;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  transition: 0.4s;
}

.search-bar:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.4s;
}

.search-icon {
  color: white;
  font-size: 30px;
}

.search-icon-btn {
  background: none;
  border-style: none;
}

.search-input {
  background: none;
  border-style: none;
  color: white;
  font-size: 16px;
  max-width: 130px;
  font-weight: bold;
}

.search-input:focus {
  outline: none;
  text-decoration: none;
}

.search-input:invalid {
  text-decoration: none;
}

::selection {
  background-color: rgba(0, 0, 0, 0.2);
}

.logo button {
  flex: 1;
  margin-left: 15px;
  border: none;
  background-color: #6dacbb;
  cursor: pointer;
}

.navigation-links{
  display: flex;
}

.navigation-links button{
  border: none;
  padding: 0px;
  color: white;
  background-color: #6dacbb;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 8px 12 px;
  width: 90px;
  height: 90px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.4s;
  cursor: pointer;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.nav-link.active {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.nav-link.active:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

/*//////////////////  CONTENT  //////////////////*/

.content {
  margin-top: 110px;
  padding: 0px 20px;
}

/*//////////////////  HOME  //////////////////*/

.loading {
  font-size: 65px;
  margin-top: 50px;
  margin-right: 30px;
  color: #6dacbb;
  animation: spin 1.5s infinite linear;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.instagram-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
  justify-items: center;
  margin-top: 20px;
}

.post-container {
  position: relative;
  animation: fadeIn 0.7s ease-in forwards;
  overflow: hidden;
}

.post-container:hover .hashtags {
  max-height: 300px;
  transition: max-height 0.8s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.image-description {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #6dacbb;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  max-width: 380px;
}

.image-description img {
  width: 30px;
  margin-right: 10px;
}

.image-description img::selection {
  background-color: rgba(0, 0, 0, 0);
}

.post-image {
  max-width: 400px;
}

.hashtags {
  background-color: #6dacbb;
  max-width: 400px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0;
}

.hashtag-button {
  background-color: white;
  color:#6dacbb;
  padding: 5px 13px;
  margin: 6px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}

.hashtag-button:hover {
  color: #1D1D1D;
  transition: 0.5s;
}

.hashtag-button::selection {
  background-color: rgba(0, 0, 0, 0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.no-images {
  background-color: #6dacbb;
  width: 400px;
  margin-top: 40px;
  animation: fadeIn 500ms ease-in forwards;
}

.empty-gap {
  background-color: rgba(0, 0, 0, 0);
  height: 10px;
}

.empty-fill {
  background-color: rgba(0, 0, 0, 0);
  height: 150px;
}

/*//////////////////  CONTACT  //////////////////*/

.contact {
  background-color: #6dacbb;
  padding: 15px;
  font-size: 17px;
  width: 50%;
  margin: 0 auto;
  text-align: left;
  max-width: 700px;
  min-width: 400px;
  animation: fadeIn 500ms ease-in forwards;
}

.contact h1 {
  padding-left: 10px;
}

.contact p {
  padding-left: 10px;
  font-size: 20px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: white;
  padding: 15px;
  color: #1D1D1D;
}

form label {
  font-weight: bold;
  margin: 10px;
}

form input {
  border-radius: 15px;
  padding: 5px 10px;
  margin-top: 5px;
  width: 90%;
  border-color: #6dacbb;
  border-style: solid;
  transition: 0.3s;
  min-width: 100px;
}

form input:focus {
  border-color: #000000;
  transition: 0.3s;
}

form textarea {
  border-radius: 15px;
  border-width: 2px;
  padding: 10px;
  margin-top: 5px;
  border-color: #6dacbb;
  border-style: solid;
  resize: 'none';
  overflow: 'auto';
  max-width: 95%;
  min-width: 95%;
  max-height: 300px;
  min-height: 100px;
}

form textarea:focus {
  border-color: #000000;
  transition: 0.3s;
}

form button {
  background-color:#6dacbb;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  width: 150px;
}

form button:hover {
  background-color: #507c84;
  transition: 0.3s;
}

.inactive-btn {
  background-color: #888888;
  transition: 0.3s;
  cursor: default;
}

.inactive-btn:hover {
  background-color: #888888;
}

.contact-2 {
  grid-area: 1 / 2 / 2 / 3;
}

.contact-3 {
  grid-area: 2 / 1 / 3 / 3;
}

.validation-message {
  padding: 6px;
  color:#6dacbb;
}


/*//////////////////  ABOUT  //////////////////*/

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #6dacbb;
  padding: 15px;
  font-size: 17px;
  width: 50%;
  margin: 0 auto;
  animation: fadeIn 500ms ease-in forwards;
  min-width: 400px;
  max-width: 700px;
}

.about-1 {
  display: flex;
  align-items: center;
}

.about-1 img {
  border-radius: 15px;
  max-width: 300px;
  height: auto;
  margin-right: 15px;
}

.about-2,
.about-2-copy {
  text-align: left;
  padding-left: 15px;
  margin-bottom: 15px;
}

.about-2 {
  display: block;
}

.about-2.hide {
  display: none;
}

.about-2-copy {
  flex-basis: 100%;
  text-align: center;
  display: none;
  padding: 0 15px;
}

.about-3 {
  flex-basis: 100%;
  text-align: center;
  padding: 0 20px 10px;
}

.bigger-p {
  font-size: 19px;
}

.lets-go-btn {
  background-color: white;
  padding: 10px 25px;
  color: #6dacbb;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.lets-go-btn:hover {
  padding: 13px 28px;
  font-size: 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 1200px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about-1 {
    margin-left: 10px;
  }

  .about-2,
  .about-2-copy {
    flex-basis: 100%;
    padding: 0;
  }

  .about-2 {
    display: none;
  }

  .about-2-copy {
    display: block;
  }
}

/*//////////////////  FOOTER  //////////////////*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6dacbb;
  height: 90px;
  box-shadow: 0 -8px 8px rgba(0, 0, 0, 0.3);
}

.ig-logo {
  height: 45px;
}

.ig-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.ig-link:hover {
  color: white;
}