.App {
  text-align: center;
}

body {
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.6)), url('./images/checker.png');
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
}

.App-logo {
  height: 50px;
}

.App-logo::selection {
  background-color:rgba(0, 0, 0, 0);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6dacbb;
  padding-left: 15px;
  height: 90px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

.search-bar{
  display: flex;
  gap: 5px;
  flex: 0 0 auto;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  transition: 0.4s;
}

.search-bar:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.4s;
}

.search-icon {
  color: white;
  font-size: 30px;
}

.search-icon-btn {
  background: none;
  border-style: none;
}

.search-input {
  background: none;
  border-style: none;
  color: white;
  font-size: 16px;
  max-width: 130px;
  font-weight: bold;
}

.search-input:focus {
  outline: none;
  text-decoration: none;
}

.search-input:invalid {
  text-decoration: none;
}

::selection {
  background-color: rgba(0, 0, 0, 0.2);
}

.logo{
  flex: 1;
  text-align: center;
  padding-left: 15px;
}

.navigation-links{
  display: flex;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: #6dacbb;
  padding: 8px 12 px;
  width: 90px;
  height: 90px;
  font-weight: bold;
  transition: 0.4s;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.nav-link.active {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.nav-link.active:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.nav-link a {
  color: inherit;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6dacbb;
  height: 90px;
  box-shadow: 0 -8px 8px rgba(0, 0, 0, 0.3);
}

.ig-logo {
  height: 45px;
}

.ig-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #6dacbb; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6dacbb; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b7580; 
}